coc
dconf
dunst 
fetch 
EOS-greeter.conf 
EOS-initial-wallpaper.I3 
eos-update-notifier.fist_init 
neofetch 
nitrogen 
pavucontrol.conf 
spotifyd 
systemd 
Thunar 
user-dirs.dirs 
user-dirs.locale 
xfce4 
yay
